body{
	height:100%;
	color: @color-copy;
	font-family: @standard;
	font-weight: @light;
	font-size: @base-font-size;
	line-height: @base-line-height;	
}

// Headings
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{

}